﻿@model DataAccessLayer.EmpOrm
@{
    ViewBag.Title = "Create";
}

<h2>Create Employee</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <h4>Employee Information</h4>

    <hr />

    @Html.ValidationSummary(true);

    <div>
        @Html.LabelFor(model => model.EmpId)
        @Html.EditorFor(model => model.EmpId)
        @Html.ValidationMessageFor(model => model.EmpId)
    </div>

    <div>
        @Html.LabelFor(model => model.EmpName)
        @Html.EditorFor(model => model.EmpName)
        @Html.ValidationMessageFor(model => model.EmpName)
    </div>

    <div>
        @Html.LabelFor(model => model.DeptId)
        @Html.EditorFor(model => model.DeptId)
        @Html.ValidationMessageFor(model => model.DeptId)
    </div>

    <div>
        <input type="submit" value="Create" />
    </div>
}

<p>
    @Html.ActionLink("Back to Main List", "Index")
</p>
